RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.levgartman\.com [NC]
RewriteRule ^(.*)$ https://levgartman.com/$1 [L,R=301]